---
import { Image } from 'astro:assets'
import PrimaryNavigation from './PrimaryNavigation.astro'
const { skipTo = '#main' } = Astro.props
---

<header class='site-header'>
  <a href={skipTo} class='skip-navigation'>Skip to content</a>

  <div class='container'>
    <div class='site-header__inner'>
      <a href='/index.html'>
        <Image
          aria-hidden='true'
          src='/logo.jpg'
          alt='logo of NAME_OF_SITE'
          width={28}
          height={28}
        />
        <p class='visually-hidden'>NAME_OF_SITE</p>
      </a>
      <PrimaryNavigation />
    </div>
  </div>
</header>
